@model List<MODAMS.Models.ViewModels.Dto.dtoNotification>
<style>
    /* CSS styles can also be placed in an external stylesheet */
    .colored-row {
        background-color: lightcyan; /* Change this to your desired color */
    }
</style>

<div class="page-header">
    <div>
        <h1 class="page-title">Notifications</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/Users/Home/Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Notifications</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-secondary" asp-action="ClearNotifications" asp-controller="Home" asp-area="Users">
                    <i class="fe fe-trash"></i>&nbsp; Delete All Notifications
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        @{
                            string bgClass = "";
                            foreach (var item in Model)
                            {
                                var sMessage = item.Message.Substring(0, item.Message.IndexOf(','));
                                bgClass = item.IsViewed ? "" : "bg-light-transparent";
                                <a href="/Users/Home/NotificationDirector/@item.Id">
                                    <div class="row @bgClass mb-3 p-3 table-bordered">
                                        <div class="col-md-1 text-center">

                                            <div class="avatar-container avatar-lg me-4">
                                                <img alt="avatar" class="rounded-circle" src="@item.ImageUrl">
                                                @{
                                                    if (!item.IsViewed)
                                                    {
                                                        <span class="pulse rounded-pill bg-success"></span>
                                                    }
                                                }
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <span class="notification-label mb-1">@Html.Raw(sMessage)</span>
                                                <span class="notification-subtext text-muted">@item.DateTime.ToString("dd-MMM-yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    </div>

                </div>
        </div>
    </div>
</div>
