<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Account Settings</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="text-muted"><i class="fa fa-key"></i> Password Reset </h3>
                <br />
                <p style="font-size: 16px;">Password reset instructions will be sent to your registered email address, Please follow the instructions to reset your password</p>
                <button class="btn btn-pill btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-key"></i> Reset Password <i class="icon ion-ios-arrow-down text-12"></i>
                </button>
                <div class="dropdown-menu" style="">
                    <div class="p-5">
                        <h4 class="dropdown-title">Reset Password</h4><br />
                        <p>This will initiate password reset process!<br /><br />Are you sure?</p>
                        <a asp-area="Users" asp-action="ResetPassword" asp-controller="Home" asp-route-id="1" class="btn btn-secondary btn-sm"><i class="mdi mdi-checkbox-marked-circle-outline"></i> Reset Password</a>
                    </div>
                </div>
                <br /><br />
                <hr />
                <br />
                <h3 class="text-muted"><i class="fa fa-lock"></i> Two-Factor Authentication </h3>
                <br />
                <p style="font-size: 16px;">To enable Two Factor Authentication, please download and install Google Authenticator and follow the instructions on the next page</p>
                <a href="/Identity/Account/Manage/TwoFactorAuthentication" class="btn btn-pill btn-outline-primary">Two Factor Authentication</a>
            </div>
        </div>
    </div>
</div>
<!--End Modals-->
@section Scripts{
    <script>
        $(document).ready(() => {

        });

        const loadForm = () => {

        }
    </script>
}

