@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<style>
    .containerCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
</style>

<div class="containerCenter">
    <div class="text-center">
        <h3 class="text-danger text-center">Access Denied</h3>
        <h5 class="text-center">You are not authorized to access this content, please contact the system administrator</h5>
        <br />
        <a href="@Request.Headers["Referer"].ToString()">Back</a>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $("#hideMenu").click();
        });


    </script>
}
