@page
@using System.Globalization
@model AccessDeniedModel
@{
    var isSomali = CultureInfo.CurrentCulture.Name == "so";

    ViewData["Title"] = isSomali ? "Galitaanka waa la diiday" : "Access denied";
}
<style>
    .containerCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
</style>

<div class="containerCenter">
    <div class="text-center">
        <h3 class="text-danger text-center">@(isSomali ? "Galitaanka waa la diiday" : "Access denied")</h3>
        <h5 class="text-center">@(isSomali ? "Lama oggola inaad gasho waxyaabahan. Fadlan la xiriir maamulka nidaamka." : "ou are not authorized to access this content, please contact the system administrator")Y</h5>
        <br />
        <a href="@Request.Headers["Referer"].ToString()">@(isSomali?"Hore":"Back")</a>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {
            $("#hideMenu").click();
        });


    </script>
}
