@page
@using System.Globalization


@model LoginWith2faModel
@{
    Layout = "_Layout1";
    var isSomali = CultureInfo.CurrentCulture.Name == "so";
}

<div class="col col-login mx-auto text-center">
    @*<a asp-area="" asp-page="/Index" class="text-center">
    <img src="~/assets/images/brand/ams.png" class="header-brand-img" alt="">
    </a>*@
</div>
<div class="container-login100">
    <div class="wrap-login100 p-0">
        <div class="card-body">
            <span class="login100-form-title">
                <img src="~/assets/images/brand/FGS.png" class="h-8" alt="">
            </span>
            <p class="text-center">
                @if (isSomali)
                {
                    <span>Gelitaankaaga waxaa lagu ilaaliyaa app xaqiijinta.<br />Geli code-kaaga xaqiijinta ee hoose.</span>
                }
                else
                {
                    <span>Your login is protected with an authenticator app.<br /> Enter your authenticator code below.</span>
                }
            </p>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                        <input asp-for="RememberMe" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                            <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine" />
                                @if(isSomali)
                                {
                                    <span>Haddii aad rabto in qalabkan lagu xasuusto</span>
                                }
                                else
                                {
                                    <span>Remember this machine</span>
                                }
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">@(isSomali ? "Soo gal" : "Log in")</button>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <p class="text-center">
                @if(isSomali)
                {
                    <span>Ma haysaa qalabkaaga xaqiijinta? <br />Waad isticmaali kartaa <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">code-ka soo kabashada si aad u gasho</a>.</span>
                }
                else
                {
                    <span>Don't have access to your authenticator device? <br />You can <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.</span>
                }
            </p>

        </div>
        <div class="card-footer">
            <div class="col-md-12 col-sm-12 text-center text-darkgray">
                <span style="font-size:12px;">Developed by&nbsp;|&nbsp;</span><img src="~/assets/images/brand/unops_footer_logo.png">&nbsp;
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}