<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="confirmationForm" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="d-flex align-items-center" id="confirmMessage">
                        <!-- Dynamic content goes here -->
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-trash me-1"></i>
                        <span class="align-middle" id="btnConrfirmText">Confirm</span>
                    </button>
                    <button type="button" class="btn btn-gray" data-bs-dismiss="modal">
                        <i class="fa fa-close me-1"></i>
                        <span class="align-middle" id="btnCancelText">Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openConfirmation({actionUrl, title, message, btnConfirmText, btnCancelText, data=""}) {
        $('#confirmationForm').attr('action', actionUrl);
        $('#confirmTitle').html(title)
        $('#btnConrfirmText').html(btnConfirmText);
        $('#btnCancelText').html(btnCancelText);
        const sHtml = data!==""?
            `${data}`:
            `<input type="hidden" name="assetId" value="" />`;
        $('#confirmMessage').html(`
            ${sHtml}
            <i class="bi bi-exclamation-triangle-fill text-secondary me-2" style="font-size: 2rem;"></i>
            ${message}
        `);
        $('#confirmModal').modal('show');
    }
</script>
