<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>MOD Asset Management System</title>
    <!-- BOOTSTRAP CSS -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" />

    <!--SELECT2-->
    <link href="~/assets/plugins/select2/css/select2.css" rel="stylesheet" asp-append-version="true" />
    
    <!-- STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" asp-append-version="true" />

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet" asp-append-version="true" />
    
    <style>
        /* Gradient transparent - color - transparent */

        hr.customHR {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        .trShadow {
            border: 1px solid lightblue;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
        }

        .divShadow {
            border: 1px solid lightblue;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
        }

        .form-control {
            border-color: #ced4da;
        }

            .form-control:focus {
                border-color: green;
                border: 1px solid lightblue;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
            }

        .select2:focus {
            border-color: green;
            border: 1px solid lightblue;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
        }

        .form-control:disabled {
            background-color: #e9ecef;
            opacity: 1;
        }

    </style>

</head>
@{
    
    //var mode = "";// "dark-mode";
}
<body class="app sidebar-mini ltr">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="~/assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->
    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app header code -->
            <partial name="layouts/_app-header.cshtml" />
            <!-- End app header Code -->
            <!-- app sidebar Code -->
            <partial name="layouts/_app-sidebar.cshtml" />
            <!-- End app sidebar Code -->
            <!--app-content open-->
            <div class="app-content main-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- CONTAINER END -->
        </div>

        <partial name="layouts/-selector-model.cshtml" />
        <partial name="layouts/_footer.cshtml" />
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <!-- JQUERY JS -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SIDE-MENU JS -->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!--Notification Scripts-->
    <script src="~/assets/plugins/notify/js/rainbow.js"></script>
    @*<script src="~/assets/plugins/notify/js/sample.js"></script>*@
    <script src="~/assets/plugins/notify/js/jquery.growl.js"></script>
    <script src="~/assets/plugins/notify/js/notifIt.js"></script>
    <!--End Notification Scripts-->

    <!-- SELECT2 JS -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!--DATA TABLES-->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>


    <!--PERFECT SCROLLBAR-->
    <script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- FORMVALIDATION JS -->
    <script src="~/assets/js/form-validation.js"></script>


    <!-- Perfect SCROLLBAR JS-->
    @*			<script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scroll/pscroll.js"></script>
    *@
    <!-- STICKY JS -->
    <script src="~/assets/js/sticky.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <partial name="_Notification" />
    @* @RenderSection("Scripts",false/*required*/) *@
    @await RenderSectionAsync("Scripts", required: false)

    <!-- COLOR THEME JS -->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/assets/js/custom.js"></script>


    <section id="dvProfileData" style="display:none;"></section>
</body>

<script>
    $(document).ready(() => {
        setMode();
        loadProfileData();

        //$('.page-link').on("click", (e)=>{
        //    formatTables();
        //});

        formatTables();
        
    });

    const formatTables = ()=>{
   
        $('thead').removeClass("bg-primary-gradient ms-auto divShadow").addClass("bg-primary-gradient ms-auto divShadow");
        $('th').addClass("text-white");

        //$('.even').addClass("bg-light-transparent");
        //$('.odd').removeClass("bg-light-transparent");

        
    }

    

    const setMode = () => {
        if(localStorage.getItem("displayMode")=="dark-mode"){
            $('body').addClass('dark-mode');
            $('body').removeClass('light-mode');
            //$('body').removeClass('bg-img1');
            //$('body').removeClass('bg-img2');
            //$('body').removeClass('bg-img3');
            //$('body').removeClass('bg-img4');
            $("#footerImgEU").html("").html('<img src="/assets/images/brand/EU_Horizontal3_small.png">');


            localStorage.setItem('darkMode', true);
            localStorage.removeItem('lightMode');
            localStorage.setItem('displayMode', "dark-mode")
        }else{
            $('body').removeClass('dark-mode');
            $('body').addClass('light-mode');
            //$('body').removeClass('bg-img1');
            //$('body').removeClass('bg-img2');
            //$('body').removeClass('bg-img3');
            //$('body').removeClass('bg-img4');
            $("#footerImgEU").html("").html('<img src="/assets/images/brand/EU_Horizontal2_small.png">');

            localStorage.setItem('lightMode', true);
            localStorage.removeItem('darkMode');

        }
    }
    const loadProfileData = () => {
        var sHTML = '';

        var postData = {};
        $.ajax({
            url: '/Users/Home/GetProfileData',
            datatype: "json",
            data: postData,
            beforeSend: function () {
            },
            success: function (e) {
                $("#dvProfileData").html("").html(e);
            },
            complete: function () {
                loadProfile();
            }
        });
    }

    const loadProfile = () => {
        var sData = $("#dvProfileData").html();
        if (sData != "No Records Found") {
            var Data = JSON.parse(sData);
            var sHtml = '';

            Data.forEach(function (e) {
                sHtml = '<img src="' + e.ImageUrl + '" alt="profile-user" class="avatar profile-user brround cover-image">';
                $("#profileImage").html("").html(sHtml);

                sHtml = e.FullName + '<i class="user-angle ms-1 fa fa-angle-down "></i>'
                $("#profile-heading").html("").html(sHtml);
            });
        }
    }
</script>
</html>
