@model MODAMS.Models.ViewModels.Dto.EmployeeDTO
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Edit Employee</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Employees" asp-action="Index">Employee List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!--ROW OPENED-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="mb-0">Employee Details</h4>
            </div>
            <div class="card-body p-0">
                <div class="row p-5 border-bottom">
                    <div class="col-lg-8 col-md-8">
                        <form method="post" asp-action="EditEmployee" id="frmEmployee">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <input asp-for="Employee.Id" hidden />
                                @*<input asp-for="Employee.RoleName" hidden />*@
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.FullName"></label>
                                            <input asp-for="Employee.FullName" class="form-control" aria-required="true" placeholder="Full Name" />
                                            <span asp-validation-for="Employee.FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.JobTitle"></label>
                                            <input asp-for="Employee.JobTitle" class="form-control" aria-required="true" placeholder="Job Title" />
                                            <span asp-validation-for="Employee.JobTitle" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.Email"></label>
                                            <input asp-for="Employee.Email" readonly class="form-control" aria-required="true" placeholder="email@unops.org" />
                                            <span asp-validation-for="Employee.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.Phone"></label>
                                            <input asp-for="Employee.Phone" class="form-control" aria-required="true" placeholder="Phone Number" />
                                            <span asp-validation-for="Employee.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.CardNumber"></label>
                                            <input asp-for="Employee.CardNumber" class="form-control" aria-required="true" placeholder="ID Card Number" />
                                            <span asp-validation-for="Employee.CardNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="Employee.SupervisorEmployeeId"></label>
                                            <select asp-for="Employee.SupervisorEmployeeId" asp-items="@Model.Employees"
                                                    class="form-control select2 form-select">
                                                <option disabled selected>-Select Supervisor-</option>
                                            </select>
                                            <span asp-validation-for="Employee.SupervisorEmployeeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3 form-group">
                                            <label asp-for="roleId"></label>
                                            <select asp-for="roleId" asp-items="@Model.RoleList"
                                                    class="form-control select2 form-select">
                                                <option disabled selected>-Select Role-</option>
                                            </select>
                                            <span asp-validation-for="roleId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card-body">
                            <div class="profile-img-main rounded" id="profile-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-5">
                    <div class="btn-list">
                        <button id="btnSubmit" class="btn btn-primary"><i class="fe fe-check-circle"></i> Save Employee</button>
                        <a asp-area="Admin" asp-controller="Employees" asp-action="Index" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ROW CLOSED-->
@section scripts {
    <script>
        $(document).ready(() => {
            $(".select2").select2();

            $("#btnSubmit").on("click", () => {
                $("#frmEmployee").submit();
            });

        });
    </script>
}