@{
    Layout = null;
}
<style>
    #profileImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #7dadfa;
        font-size: 13px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        text-align: center;
        line-height: 30px;
        margin: 00px 0;
    }

    /* CSS */
    .button-22 {
        align-items: center;
        appearance: button;
        background-color: #0276FF;
        border-radius: 8px;
        border-style: none;
        box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        font-family: "RM Neue",sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        padding: 10px 21px;
        text-align: center;
        text-transform: none;
        transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-22:active {
            background-color: #006AE8;
        }

        .button-22:hover {
            background-color: #1C84FF;
        }
</style>
<div class="row">
    <div class="col-md-4">
        <div align="center">
            <img src="~/assets/images/brand/FGS_Small.png" style="margin-bottom:5px;">
            <div>
                <br />
                <div>
                    <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px;">*title*</span>
                </div>
                <br />
                <table align="center" style="margin-top:8px">
                    <tbody>
                        <tr style="line-height:normal">
                            <td align="right" style="padding-right:8px">
                                <div id="profileImage"><b>*initials*</b></div>
                            </td>
                            <td>
                                <span>*email*</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="font-family:Calibri;font-size:16px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:center">
                <p>*message*<span style="font-weight:bold;">Asset Management System (MOD)</span><br /> Please click the button below to follow the instructions</p>
                <div style="padding-top:32px;text-align:center">
                    <!-- HTML !-->
                    <center><a href="#" class="button-22" style="width:100px;" role="button">*btntext*</a></center>
                </div>
            </div><br />
            <div style="text-align:center;">
                <img src="~/assets/images/brand/ams_small.png" />
            </div>
        </div>
    </div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
