@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject MODAMS.Utility.IAMSFunc _func;

<style>
    .side-menu__item {
        display: flex;
        align-items: center;
    }

    .side-menu__icon {
        font-size: 18px;
        width: 20px;
        min-width: 20px;
        text-align: center;
        margin-right: 8px;
        color: #4c5372;
    }

    .side-menu__item:hover .side-menu__icon {
        color: #0d6efd;
    }
</style>


<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" asp-area="Users" asp-controller="Home" asp-action="Index" data-tour="sidebar.logo">
                @*<img src="~/assets/images/brand/FGS_Small4.png" />*@

                @*<img src="~/assets/images/brand/FGS.png" class="header-brand-img desktop-logo" alt="logo">
                <img src="~/assets/images/brand/FGS_Small.png" class="header-brand-img toggle-logo" alt="logo">
                <img src="~/assets/images/brand/FGS_Small.png" class="header-brand-img light-logo" alt="logo">
                <img src="~/assets/images/brand/FGS.png" class="header-brand-img light-logo1" alt="logo">
                *@
                <img src="~/assets/images/brand/ams.png" class="header-brand-img desktop-logo" alt="logo">
                <img src="~/assets/images/brand/ams_IconOnly.png" class="header-brand-img toggle-logo" alt="logo">
                <img src="~/assets/images/brand/ams_IconOnly.png" class="header-brand-img light-logo" alt="logo">
                <img src="~/assets/images/brand/ams.png" class="header-brand-img light-logo1" alt="logo">


            </a><!-- LOGO -->
        </div>
        <div class="main-sidemenu">

            <div class="slide-left disabled" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg>
            </div>
            @*
            <div class="text-center">
            <img src="/assets/images/brand/FGS_Small2.png" />
            </div>
            *@
            <div class="text-muted text-center p-3 h6">
                @{
                    string sRoleName = "";
                    string departmentName = "";
                    if (User.IsInRole("User"))
                    {
                        int employeeId = await _func.GetEmployeeIdAsync();
                        int supervisorId = await _func.GetSupervisorIdAsync(employeeId);

                        sRoleName = "Store User";
                        departmentName = await _func.GetDepartmentNameAsync(employeeId);
                    }
                    else if (User.IsInRole("StoreOwner"))
                    {
                        int employeeId = await _func.GetEmployeeIdAsync();

                        sRoleName = "Store Owner";
                        departmentName = await _func.GetDepartmentNameAsync(employeeId);
                    }
                    else if (User.IsInRole("Administrator"))
                    {
                        sRoleName = "System Admin";
                    }
                    else
                    {
                        sRoleName = "Sr. Management";
                    }
                }
                <div class="pb-3 text-info" data-tour="sidebar.rolename">@sRoleName</div>
                <div data-tour="sidebar.departmentname">@departmentName</div>
            </div>
            <ul class="side-menu">
                <li><h3>Menu</h3></li>
                <li>
                    <a class="side-menu__item" asp-area="Users" asp-controller="Home" asp-action="Index" data-tour="sidebar.dashboard">
                        <i class="fe fe-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>

                <li><h3>Main Menu</h3></li>

                <li>
                    <a class="side-menu__item" href="/Users/Stores" data-tour="sidebar.stores">
                        <i class="fe fe-box side-menu__icon"></i>
                        <span class="side-menu__label">Stores</span>
                    </a>
                </li>

                <li>
                    <a class="side-menu__item" href="/Users/Transfers/" data-tour="sidebar.transfers">
                        <i class="fe fe-repeat side-menu__icon"></i>
                        <span class="side-menu__label">Transfers</span>
                    </a>
                </li>

                <li>
                    <a class="side-menu__item" href="/Users/Disposals/Index" data-tour="sidebar.disposals">
                        <i class="fa-solid fa-recycle side-menu__icon"></i>
                        <span class="side-menu__label">Disposals</span>
                    </a>
                </li>

                <li>
                    <a class="side-menu__item" href="/Users/Home/UnderConstruction" data-tour="sidebar.handovers">
                        <i class="fe fe-briefcase side-menu__icon"></i>
                        <span class="side-menu__label">Handovers</span>
                    </a>
                </li>

                <li>
                    <a class="side-menu__item" href="/Users/Verifications/Index" data-tour="sidebar.verifications">
                        <i class="fe fe-check-square side-menu__icon"></i>
                        <span class="side-menu__label">Verifications</span>
                    </a>
                </li>

                <li>
                    <a class="side-menu__item" href="/Users/Reporting/Index" data-tour="sidebar.reports">
                        <i class="fe fe-printer side-menu__icon"></i>
                        <span class="side-menu__label">Reports</span>
                    </a>
                </li>
            </ul>


            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                     width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg>
            </div>

        </div>
    </div>
</div>
<!--/APP-SIDEBAR-->

<script>
    function logOut() {
        $("#frmLogout").submit();
    }

</script>