<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-left flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-start">
                <span class="float-left" id="footerImgEU">
                    <img src="~/assets/images/brand/EU_Horizontal3_small.png">
                </span>
                <span class="float-end" id="footerImgUNOPS">
                    <img src="~/assets/images/brand/logo_small.png">
                </span>
            </div>
            
        </div>
    </div>
</footer>
<!-- FOOTER END -->