			
			<!-- FOOTER -->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-md-12 col-sm-12 text-start">
							<img src="~/assets/images/brand/unops_footer_logo.png"> | Somalia Country Office (SOCO)
						</div>
					</div>
				</div>
			</footer>
			<!-- FOOTER END -->