<div class="page-header">
    <div>
        <h1 class="page-title">Store Details</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="Index">Stores</a></li>
            <li class="breadcrumb-item active" aria-current="page">@TempData["storeName"]</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">@TempData["storeName"]</h4>
                    <div class="btn-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <a asp-area="Users" asp-controller="Assets" asp-action="Index" asp-route-id="@TempData["storeId"]" class="btn btn-primary trShadow">
                    <i class="fe fe-list"></i>&nbsp;Assets
                </a>
            </div>
            <div class="card-footer">
                <a asp-area="Users" asp-controller="Stores" asp-action="Index" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
            </div>

            
        </div>
    </div>
    
</div>

@section scripts {

    <!-- PROJECT-LIST JS-->
    @*<script src="~/assets/js/project-list.js"></script>*@
    <script>
        $(document).ready(function () {
            //$('#tblAssets').DataTable({
            //    language: {
            //        searchPlaceholder: 'Search...',
            //        sSearch: '',
            //    }
            //});
        });
    </script>


}